* {
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

body {
    background-image: url("../images/bg.jpg");
    background-size: 100% 100%;
    color: white;
}

.form-control{
    width: 90%;
}

.flex-container{
    width: 60%;
    height: 90%;
    border-radius: 10px;
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
    
}

.left-part{
    width:50%;
    height: 100%;
    padding: 10%;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0;
    float: left;
    border-radius: 10px 0px 0px 10px;
}

.right-part{
    width:50%;
    background-color: rgba(255, 255, 255, 0.7);
    margin: 0;
    color: black;
    height: 100%;
    margin: 0;
    float: left;
    border-radius: 0px 10px 10px 0px;
}

.right_container{
    top: 50%;
    transform:translateY(-50%);
    position: relative;    
}

h1{
    letter-spacing: 2px;
    text-shadow: 3px 2px gray;
    font-family: "標楷體","Times New Roman", Times, serif;
}

h2{
    font-family: "新宋體","標楷體","Times New Roman", Times, serif;
    margin: 15px 0px;
}

h4{
    font-family: "微軟正黑體","華文黑體","Times New Roman", Times, serif;
}

p{
    margin: 15px 0px 20px;
}

canvas{
    margin: auto;
    margin-top: 60px;
}

.hide{
    display: none;
}

label{
    font-size: 30px;
    margin: 30px 0px 10px;
    font-family: "微軟正黑體","華文黑體","Times New Roman", Times, serif;
}

#score{
    font-size: 30px;
    color: red;
}

#name{
    margin: 10px 0px;
    height: 40px;
}