* {
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

body {
    background-image: url("../images/bg.jpg");
    background-size: 100% 100%;
    text-align: center;
}
.table{
    width: 50%;
    height:60%;
    margin:0 auto;
    background-color: white;
    overflow-y: scroll;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {background-color: #02020217;}

h1{
    color: white;
    text-align: center;
}

button{
    margin: 25px auto 0px;
}
